@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-dark: ##39434E;
    --color-dark-gray: #585858;
    --color-light-gray: #C6C6C6;
    --color-light: #FFFFFF;
    --color-primary: #A52EFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}