#rounded-input {
    padding: 8px;
    font-family: "Roboto", sans-serif;
}

#rounded-input .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    border: 2px solid var(--color-light-gray);
    border-radius: 4px;
    background-color: var(--color-light);
}

#rounded-input label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-dark-gray);
    margin: 0 0 8px 12px;
}

#rounded-input .input-container input {
    width: 100%;
    height: 34px;
    padding: 0 8px;
    border: 0;
    font-size: 16px;
    color: var(--color-dark-gray);
    background-color: var(--color-light);
    outline: none;
}

#rounded-input .input-container img {
    height: 29px;
    padding: 0 12px 0 0;
}

/* LABEL TRANSITION */
#rounded-input label.focus {
    color: var(--color-secondary);
    letter-spacing: 2px;
    margin: 0 0 8px 26px;
}

/* INPUT-CONTAINER TRANSITION */
#rounded-input .input-container.focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 4px var(--color-secondary);
}